<html lang="en">



<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>To-do list</title>

    <link rel="stylesheet" href="/static/style.css">

</head>





<body>
<div id="login">
    <div id="login_form">
        <label for="username">Username</label>
        <input id="username" type="text">
        <label for="password">Password</label>
        <input id="password" type="text">
        <a href="{{url_for('home')}}">
            <button >Log in</button>
        </a>
    </div>

</div>


<script src="/static/script.js"></script>
</body>





</html>